@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

:root {
  --f-p : 'Poppins', sans-serif;

  --c-p : #FFFBEF;
  --c-w : #FFFFFF;
  --c-b : #232323;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}